{
  "presets": ["env", ["es2015", { "modules": false }]],
  "plugins": [
    "transform-runtime",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
   //  "transform-decorators-legacy", "transform-vue-jsx", "lodash"
}
